{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html> 
<html> 
<head> 
	 <meta charset="UTF-8">
	<title>Food Search</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{% static 'places/jquery.mobile.structure-1.0.1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'places/jquery.mobile-1.0.1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'places/custom.css' %}" />
    <script type="text/javascript" src="{% static 'places/js/jquery-1.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'places/js/jquery.mobile-1.0.1.min.js' %}"></script>
</head> 

<body> 
<div id="choose_town" data-role="page" data-add-back-btn="true">
	<div data-role="header"> 
		<h1> Food Place Search</h1>
	</div> 
	<div data-role="content">
	    <div class="choice_list"> 
        	<h1> In which town do you want to eat? </h1>
	        {% if town_list %}
            	<ul data-role="listview" data-inset="true" data-filter="true"  >
                    {% for town_dict in town_list %}
                            <li><a href="{% url 'places:choose_restaurant' food_id town_dict.town.id %}"  data-transition="slidedown">{{ town_dict.town.name }}<span class="ui-li-count">{{ town_dict.count }}</span></a> </li>

                    {% endfor %}
	            </ul>
            {% endif %}
    	</div>
	</div>
</div><!-- /page -->
</body>
</html>
