{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html> 
<html> 
	<head>
  <meta charset="UTF-8">	
	<title>Food Search</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{% static 'places/jquery.mobile.structure-1.0.1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'places/jquery.mobile-1.0.1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'places/custom.css' %}" />
    <script type="text/javascript" src="{% static 'places/js/jquery-1.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'places/js/jquery.mobile-1.0.1.min.js' %}"></script>

</head> 

<body> 
<div data-role="page" id="home" data-theme="c">
	<div data-role="content">
    	<div id="branding">
	    	<h1>Food Place Search </h1>
    	</div>
	
	    <div class="choice_list"> 
    	<h1> What would you'd like to eat? </h1>
        {% if food_list %}	
    	    <ul data-role="listview" data-inset="true" >
                {% for f in food_list %}
                <li><a href="{% url 'places:choose_town' f.id %}" data-transition="slidedown"><img src={{f.picture.url}}/><h3>{{ f.name }}</h3></a></li>
                {% endfor %}
    	    </ul>	
	    {% endif%}
	</div>
	</div>

</div><!-- /page -->
</body>
</html>
